* {
    box-sizing: border-box;
}

body, input {
    margin: 0;
    font-family: 'Rubik', sans-serif;
}

/* Typography */

h1 {
    font-size: 1.625rem;
    font-weight: 500;
    letter-spacing: -0.23px;
    margin: 0;
    color: white;
}

input#searchbar-input {
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0px;
    margin: 0;
    color: #2C2C2C;
}

h3 {
    font-size: 0.625rem;
    font-weight: 700;
    letter-spacing: 1.46px;
    margin: 0;
    color: #797979;
}

p.target-info {
    font-size: 1.25rem;
    font-weight: 500;
    letter-spacing: -0.18px;
    margin: 0;
    color: #2C2C2C;
}

/* Header */

header {
    background-image: url(/assets/header-bg-earth-cropped.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 300px;
    align-items: center;
    gap: 25px;
    padding: 20px 5% 100px 5%;
}

div.searchbar-wr {
    width: 100%;
    display: flex;
    position: relative;
}

input#searchbar-input {
    width: 100%;
    padding: 1em 0.8em;
    border-radius: 15px 0 0 15px;
    border: none;
}

button#search-btn {
    width: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 15px 15px 0;
    border: none;
    background-color: rgb(49, 49, 49);
}

img.search-btn-icon {
    width: 10px;
    height: 12px;
}

/* Target details */

div.target-details-wr {
    position: absolute;
    top: 150px;
    display: flex;
    flex-direction: column;
    gap: 18px;
    width: 90%;
    padding: 1.6em;
    background-color: white;
    border-radius: 15px;
    box-shadow: 2px 5px 20px rgba(0, 0, 0, 0.3);
}

div.target-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

/* Desktop CSS */

@media screen and (min-width: 1028px) {

    h1 {
        font-size: 2em;
    }

    input#searchbar-input {
        font-size: 1.125rem;
    }

    h3 {
        font-size: 0.75rem;
    }

    p.target-info {
        font-size: 1.625rem;
    }
    
    header {
        padding-top: 30px;
        height: 280px;
    }

    div.searchbar-wr {
        max-width: 555px;
    }

    input#searchbar-input {
        padding-left: 1.5em;
    }

    div.target-details-wr {
        top: 210px;
        max-width: 1110px;
        flex-direction: row;
        /* height: 160px; */
    }

    div.target-col {
        width: 100%;
        align-items: flex-start;
        padding-left: 0.5em;
    }

    p.target-info {
        border-right: 1px solid #cdcdcd;
        height: 100%;
        padding-right: 2em;
    }

    #target-details-col4 > :nth-child(2) {
        border-right: none;
    }
}
